/* Social Media Font Start */
@font-face {
  font-family: 'iSenseLabs-Social-Icons';
  src:  url('fonts/iSenseLabs-Social-Icons.eot?v0twaw');
  src:  url('fonts/iSenseLabs-Social-Icons.eot?v0twaw#iefix') format('embedded-opentype'),
    url('fonts/iSenseLabs-Social-Icons.ttf?v0twaw') format('truetype'),
    url('fonts/iSenseLabs-Social-Icons.woff?v0twaw') format('woff'),
    url('fonts/iSenseLabs-Social-Icons.svg?v0twaw#iSenseLabs-Social-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="issm-"], [class*=" issm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iSenseLabs-Social-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.issm-facebook:before {
  content: "\e900";
}
.issm-google:before {
  content: "\e901";
}
.issm-instagram:before {
  content: "\e902";
}
.issm-linkedin:before {
  content: "\e903";
}
.issm-twitter:before {
  content: "\e904";
}
/* Social Media Font End */

.table>tbody>tr>td {
  vertical-align: middle;
}

.table tr:first-child td {
  border-top: none;
}

.required {
  color: red;	
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 0;
  border-radius: 0px;
}

#main_settings_sub_tab .input-group {
  max-width: 137px;
}

.messageSubject {
  margin-bottom: 20px;
}

.list tbody td a {
  text-decoration: none;
}

.tab-navigation {
  position: relative;
}

.tab-navigation .nav {
  margin-bottom: 20px;
}

.tab-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.center {
  text-align: center;
}

.registeredDomains {
  padding: 0;
  margin: 0;
  list-style: none;
}

.licenseAlerts {
  margin-top: 10px;
}

/* iModules */

.iModuleContent .box .notActivatedContent {
  padding: 10px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  min-height: 300px;
  overflow: auto;
  text-align: center;
  padding-top: 80px;
}

.iModuleContent .iModuleActivateButton {
  background: #069;
  padding: 16px 28px;
  color: white;
  border: 4px solid #fff;
  outline: 4px solid #ccc;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
}

.iModuleContent .iModuleActivateButton:hover {
  background: #06d;
}

/* ADMIN PANEL STYLES - END */

.colorsLi .colorPreview {
  width: 18px;
  height: 18px;
  background: #ccc;
  border: 1px solid #aaa;
}

.colorsLi tr th {
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 10px;
}

.colorsLi tr td {
  text-align: left;
}

/*Support tab*/
.panel-body .notLicensedTable, .panel-body .licensedTable {
  table-layout: fixed;
}

.panel-body .notLicensedTable .form-group, .panel-body .licensedTable .form-group {
  margin-bottom: 15px;
}

.panel-body .notLicensedTable ul, .panel-body .licensedTable ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-body .notLicensedTable tr > td {
  padding: 10px 0;
}

.panel-body .box-content {
  padding: 10px;
  border: 1px solid #DBDBDB;
  overflow: auto;
}



.notLicensedTable .small-link {
  font-size: 12px;
}

.input-group[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.cke * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

.notificationMessageTabs {
  margin: 20px 0;
}

input[type='text'], input[type='password'] {
  padding: 6px 12px;
}

.form-control.customCss {
  height: 80px;
  min-height: 80px;
}

.storeSwitcherWidget {
  position: absolute;
  right: 15px;
  top: 8px;
}

.storeSwitcherWidget .form-group {
  margin-bottom: 0;
}

.storeSwitcherWidget .form-group.open .dropdown-menu {
  right: 0;
  left: auto;
}

.table-header {
	background: #EFEFEF;
}
a.btn-info {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;	
}

a:visited.btn-info {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;	
}

/* -- Google Standard Login Button -- */

a.gglStandardBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 1px 1px #fff;
	color: #3b3b3b;
	height: 34px;
	line-height: 34px;
	text-align: center;
	padding: 0 20px 0 54px;
	background: url("../../image/googlelogin/standardBtnBg.png") repeat-x left top;
	border: 1px solid #acacac;
	border-radius: 2px;
	position: relative;
	box-sizing: content-box;
}

a.gglStandardBtn span {
	width: 37px;
	height: 34px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../../image/googlelogin/gglIconStandardBtn.png") no-repeat left top;	
}

a.gglStandardBtn:active {
	background: url("../../image/googlelogin/standardBtnBg.png") repeat-x left bottom;
}


/* -- End -- */


/* -- Google Metro Style Login Button -- */

a.gglMetroStyleBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0 20px 0 58px;
	background-color: #dd4b38;
	position: relative;
	transition: background-color 700ms ease-in-out;
	-moz-transition: background-color 700ms ease-in-out;
	-webkit-transition: background-color 700ms ease-in-out;
	-o-transition: background-color 700ms ease-in-out;
	box-sizing: content-box;
}

a.gglMetroStyleBtn span {
	width: 38px;
	height: 36px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../../image/googlelogin/gglIconMetroBtn.png") no-repeat left top;
}

a.gglMetroStyleBtn:hover {
	background-color: #c94332;
}


/* -- End -- */


/* -- Google Rounded Login Button -- */

a.gglRoundedBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 20px 0 57px;
	background: url("../../image/googlelogin/roundedBtnBg.png") repeat-x left 0;
	border: 1px solid #a42514;
	border-radius: 4px;
	position: relative;
	box-sizing: content-box;
}

a.gglRoundedBtn span {
	width: 37px;
	height: 30px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../../image/googlelogin/gglIconRoundedBtn.png") no-repeat left top;
}

a.gglRoundedBtn:hover {
	background: url("../../image/googlelogin/roundedBtnBg.png") repeat-x left -30px;
}

a.gglRoundedBtn:active {
	background: url("../../image/googlelogin/roundedBtnBg.png") repeat-x left -60px;
}


/* -- End -- */


/* -- Google Blue Style Login Button -- */

a.gglBlueStyleBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-shadow: 1px 1px #2a57a1;
	color: #fff;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding: 0 20px 0 44px;
	background: url("../../image/googlelogin/blueStyleBtnBg.png") repeat-x left top;
	border: 1px solid #2a57a1;
	position: relative;
	box-sizing: content-box;
}

a.gglBlueStyleBtn span {
	width: 34px;
	height: 26px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../../image/googlelogin/blueStyleBtnIcon.png") no-repeat left top;	
}

a.gglBlueStyleBtn:active {
	background: url("../../image/googlelogin/blueStyleBtnBg.png") repeat-x left bottom;
}
/* -- End -- */

/* -- Google Bootstrap Login Button -- */
a.gglBootstrapBtn {
	display: inline-block;
	padding: 6px 12px 6px 44px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
	color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
a.gglBootstrapBtn span {
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	font-family: 'iSenseLabs-Social-Icons';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.gglBootstrapBtn span:before {
    content: "\e901";
}
a.gglBootstrapBtn:hover,
a.gglBootstrapBtn:focus {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
	text-decoration: none;
}
a.gglBootstrapBtn:active {
    color: #fff;
    background-color: #a32b1c;
    border-color: rgba(0,0,0,0.2);
	text-decoration: none;
}
/* -- End -- */

.buttonPreview {
	display:inline-block;	
}

.buttonPreview .box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	background: #eeeeee;
	padding: 8px 12px;
	color: #333;
}

.buttonPreview .box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
}

.noBoxWrapper .box-heading {
	display:none;
}

.noBoxWrapper .box .box-content { 
	border: none;
}

.extraFields label {
	display: inline-block;
	margin-left: 5px;
}

.extraFields input {
	margin: 0;
}

.htabs a {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}

.leftBoxInput {
	float: left;
	padding-right: 5px;
}