<div id="search" class="header__search-wrapper">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="header__search-input" />
  <button type="button" class="btn btn-link main-search__btn"><i class="fa fa-search"></i></button>
</div>